div {
  display: inline-block;
  margin :20px;
}
.horDiv {
  margin: 1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#upgrademenu{
  width:350px;
  height:200px;
  overflow:scroll;
}
.upgradeButton{
    background: #cccccc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 200ms;
}
