html,body{
  height:100%;
  width: 100%;
  margin:0px;
  padding:0px;
  overflow: hidden;
}
div {
  display: inline-block;
  margin :20px;
}
.horDiv {
  margin: 1px;
}

.tabContent{
  width: 90%;
  height:90%;
  display: none;
}
ul {
  list-style-type: none;
  margin:0px;
  padding:1%;
  width:100%;
}
li {
  display: inline;
  padding:1%;
  margin:1px;
  transition: 200ms;
}
li:hover{
  background:#aaa;
}
progress[value]#vault{
  -webkit-appearance: none;
  appearance: none;

}
progress[value]#vault::-webkit-progress-bar{
  background-color: #ccc;
}
progress[value]::-webkit-progress-value {
  background:#444;
}
#upgrademenu{
  width:90%;
  height:90%;
  overflow:scroll;
}
#startArea{
  display:block;
}
#statBar{
  width: 100%;
  height:1%;
  margin:2px;
  margin-left:10px;
  background:#777;
}
.stat{
  display: inline;
}
.upgradeButton{
    background: #cccccc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 200ms;
}
