@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

html,
body {
  font-family: "Major Mono Display", monospace;
  background: #333333;
  color: white;
  overflow: hidden;
}
#moduleOne {
  width: 25vw;
}
#moduleTwo {
  width: 35vw;
}
.clickable {
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
}
#resourceContainer {
  background: #222222;
  padding: 10px;
  height: 34%;
  text-shadow: 0px 0px 20px #ffffff;
}
.right {
  float: right;
  height: 5px;
}
.button {
  margin: 10px;
  display: inline-block;
  padding: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #111111;
  transition: 1s;
  cursor: pointer;
}
.button:active {
  background: #ffffff;
  transition: 0s;
}
#opsButton {
  display: grid;
  place-items: center;
  margin: 10px;
  padding: 15px;
}
#opsButton:active {
  background: #ffffff;
  transition: 0s;
}
#settings {
  background: #414141;
  padding: 20px;
  height: 27%;
}
#shop {
  display: grid;
  place-items: center;
  height: 30%;
}
#shopTitle {
  font-size: 32px;
  background: #000000;
  width: 100%;
  text-align: center;
}
.module {
  display: block;
  float: left;
  height: 100vh;
  width: 20vw;
}
#transistorScreen {
  display: grid;
  place-items: center;
  padding: 30px;
  background: #444444;
}
.tS-chip {
  height: 75px;
  width: 75px;
  display: inline-block;
  background: #ffffff;
  margin: 8px;
}
#transistorList {
  overflow-y: scroll;
  height: 21vw;
  font-size: 20px;
  line-height: 3vw;
}
.buildingButtons {
  height: 10px;
  line-height: 1vw;
}
#jobs{
  height:100%;
}
#jobsTitle {
  text-align: center;
  background:#111111;
  margin: 0;
}
#jobListings{
  overflow-y:scroll;
  display: block;
  height:100%;
}
