input[type=range] {
    width: 100%;
    margin: 6.5px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #000000;
    border: 0.5px solid #777777;
    border-radius: 25px;
    width: 100%;
    height: 10px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -7px;
    width: 23px;
    height: 23px;
    background: #000000;
    border: 2.5px solid #ffffff;
    border-radius: 12px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #0d0d0d;
  }
  input[type=range]::-moz-range-track {
    background: #000000;
    border: 0.5px solid #777777;
    border-radius: 25px;
    width: 100%;
    height: 10px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 23px;
    height: 23px;
    background: #000000;
    border: 2.5px solid #ffffff;
    border-radius: 12px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 9.1px 0;
    color: transparent;
    width: 100%;
    height: 10px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #000000;
    border: 0.5px solid #777777;
    border-radius: 50px;
  }
  input[type=range]::-ms-fill-upper {
    background: #000000;
    border: 0.5px solid #777777;
    border-radius: 50px;
  }
  input[type=range]::-ms-thumb {
    width: 23px;
    height: 23px;
    background: #000000;
    border: 2.5px solid #ffffff;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #000000;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #0d0d0d;
  }
  @supports (-ms-ime-align:auto) {
    input[type=range] {
      margin: 0;
    }
  }
  